
header {
  background-color: rgb(245, 205, 7);
}
.header {
  height: 120px;
  padding-top: 10px;
}
.header p {
  margin-top: -7px;
}
main .row {
  margin-bottom: 20px;
  margin-top:20px;
}
.image {
  border: 1px solid;
  border-color: rgba(128, 128, 128, 0.16);
  border-radius: 2px;
}
.image img {
  width:100%;
}
.image h3 {
  padding-left: 15px;
}
.image p {
  padding-left: 15px;
}
